html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 850px;
  line-height: 3.5;
  font-size: 18px;
  overflow: auto;
  background-image: url(https://images6.alphacoders.com/421/thumb-1920-421133.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.form__legend {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: gold;
}

.form__fieldset {
  background-color: gold;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  border-color: black;
}

.form__input {
  max-width: 250px;
}

.form__button {
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  font-weight: 600;
  padding: 5px 35px 5px 35px;
}

.form__button:hover {
  background-color: hsl(0, 0%, 90%);
}

.result {
  text-align: center;
  font-size: bold;
}

.result__span {
  font-weight: bold;
}